.site-navigation__menu-toggle {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 31px;
  right: 31px;
  border: none;
  background-color: transparent;
  background-image: url("../img/icon-menu-close.svg");
}
