doctype
html(lang="ru")
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="css/style.css")
    title="Каталог товаров / Интернет-магазин «MISHKA»"
  body
    header.site-header
      div.site-header__container
        a.site-header__logo(href="index.html")
          img.site-header__logo-image(src="img/mishka-logo.svg" width="86" height="35" alt="Логотип компании «MISHKA»")
      include blocks/site-navigation
    main.site-main
      h1.visually-hidden Каталог товаров / Интернет-магазин «MISHKA»
      section.goods.site-main__goods
        h2.title.goods__title Каталог товаров
        ul.goods__list
          li.goods__item
            a.goods__img-link(href="#")
              img.goods__img(src="img/photo-1.png")
            a.goods__item-link(href="#") Зайчик-попрыгайчик
            span.goods__description Рост 30 см, вес 200 г
            span.goods__price 1 200 руб.
            a.goods__basket(href="#" title="Добавить в корзину")
              include svg/icon-cart
          li.goods__item
            a.goods__img-link(href="#")
              img.goods__img(src="img/photo-2.png")
            a.goods__item-link(href="#") Корзинка для белья
            span.goods__description Диаметр 15 см, высота 10 см
            span.goods__price 690 руб.
            a.goods__basket(href="#" title="Добавить в корзину")
              include svg/icon-cart
          li.goods__item
            a.goods__img-link(href="#")
              img.goods__img(src="img/photo-3.png")
            a.goods__item-link(href="#") Большая корзинка для&nbsp;игрушек
            span.goods__description Диаметр 30 см, высота 30 см
            span.goods__price 1 500 руб.
            a.goods__basket(href="#" title="Добавить в корзину")
              include svg/icon-cart
      section.production.site-main__production
        h2.title.production__title Процесс производства
        div.production__video
          img.production__img(src="img/video.png" width="259" height="149" alt="Видео производства")
        p.production__text По просьбам наших любимых фолловеров мы сняли для вас подробное видео о том, как появляются наши товары.
        a.button.production__order-button(href="#") Сделать заказ
    include blocks/site-footer
    script(src="js/app.js")
