doctype
html(lang="ru")
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="css/style.css")
    title="Главная страница / Интернет-магазин «MISHKA»"
  body
    include blocks/site-navigation
    script(src="js/app.js")
