.briefly {
  //
}

.briefly__center-wrapper {
  padding: 29px 23px 0;

  @media ($tablet) {
    padding: 47px 50px 55px;
  }

  @media ($desktop) {
    padding: 58px 50px 0;
  }
}

.briefly__wrapper {
  @media ($desktop) {
    padding: 0 170px;
  }
}

.briefly__title {
  margin: 0 0 2px 5px;

  @media ($tablet) {
    margin: 0 0 18px -5px;
  }

  @media ($desktop) {
    margin: 0 0 20px;
  }
}

.briefly__list {
  @include text(17px, 20px, 700);
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;

  @media ($tablet) {
    @include text(20px, 22px, 700);
    margin-left: -7px;
  }

  @media ($desktop) {
    margin-left: -4px;
  }
}

.briefly__item {
  width: 274px;
  margin: 0 14px 0 0;
  padding: 83px 20px 0 7px;
  color: black;

  @media ($tablet) {
    width: 320px;
    margin: 0 14px 29px 0;
    padding: 84px 40px 0 7px;
  }

  @media ($desktop) {
    margin: 0 32px 27px 0;
  }
}

.briefly___item--ball {
  @include bg-icon("icon-feature-ball.svg", 10px, 33px);

  @media ($tablet) {
    order: 2;
    background-position: 10px 35px;
  }

  @media ($desktop) {
    background-position: 12px 32px;
  }
}

.briefly___item--flower {
  @include bg-icon("icon-feature-flower.svg", 14px, 31px);

  @media ($tablet) {
    order: 1;
    background-position: 15px 30px;
  }

  @media ($desktop) {
    background-position: 18px 30px;
  }
}

.briefly___item--gift {
  @include bg-icon("icon-feature-gift.svg", 10px, 32px);

  @media ($tablet) {
    order: 6;
    background-position: 10px 32px;
  }

  @media ($desktop) {
    background-position: 11px 33px;
  }
}

.briefly___item--heart {
  @include bg-icon("icon-feature-heart.svg", 14px, 36px);

  @media ($tablet) {
    order: 5;
    background-position: 15px 35px;
  }

  @media ($desktop) {
    background-position: 17px 37px;
  }
}

.briefly___item--money {
  @include bg-icon("icon-feature-money.svg", 6px, 30px);

  @media ($tablet) {
    order: 3;
    background-position: 6px 32px;
  }

  @media ($desktop) {
    background-position: 10px 31px;
  }
}

.briefly___item--rocket {
  @include bg-icon("icon-feature-rocket.svg", 0, 34px);
  padding: 83px 0 0 7px;

  @media ($tablet) {
    order: 4;
    padding: 83px 0 0 7px;
    background-position: 0 35px;
  }
}
