.button {
  @include text(17px, 20px, 700);
  display: block;
  padding: 15px 0;
  border: 2px solid $text-color;
  background-color: white;
  color: $text-color;
  text-align: center;
  text-transform: uppercase;
}
