.caption {
  @include text(19px, 19px, 700);
  display: flex;
  align-items: center;
  color: black;
}

.caption__htmlacademy {
  display: block;
  margin: 6px 0 0 30px;
  outline: none;
  transition: 0.3s;

  svg {
    fill: $seafoam-blue;
  }

  &:hover svg,
  &:focus svg {
    fill: $aqua-marine-two;
  }

  &:active svg {
    opacity: 0.3;
  }
}
