.caption {
  @include text(19px, 19px, 700);
  display: flex;
  align-items: center;
  color: black;
}

.caption__htmlacademy {
  display: block;
  margin: 6px 0 0 30px;

  svg {
    fill: $seafoam-blue;
  }
}
