.catalog {
  padding-top: 73px;
  position: relative;
  background-color: $image-color;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -18px;
  text-align: center;

  @media ($tablet) {
    padding: 112px 51px 0 51px;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: center -40px;
  }

  &::after {
    @media ($tablet) {
      display: block;
      width: 100%;
      height: 20px;
      position: absolute;
      left: 0;
      bottom: 0;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-size: 800px;
      background-position: center top;
      content: "";
    }
  }
}

.catalog__title {
  @include text(27px, 30px, 700);
  display: block;
  min-height: 210px;
  margin: 0 30px;
  @media ($tablet) {
    @include text(43px, 50px, 700);
    min-height: 474px;
    margin: 0;
  }
}

.catalog__list {
  @include text(19px, 24px, 700);
  margin: 0;
  padding: 0;
  list-style: none;

  @media ($tablet) {
    @include text(20px, 30px, 700);
    display: flex;
    border-bottom: 2px solid white;
  }
}

.catalog__item {
  @for $i from 1 through 2 {
    &:nth-child(#{$i}) {
      $percent: 3.4% * (-1 + $i);
      background-color: darken($seafoam-blue, $percent);
    }
  }

  @media ($tablet) {
    width: 50%;
  }
}

.catalog__link {
  display: block;
  padding: 26px 180px 30px 28px;
  position: relative;
  color: white;
  text-align: left;
  &::after {
    position: absolute;
    top: 50%;
    opacity: 0.5;
  }

  @media ($tablet) {
    min-height: 119px;
    padding: 26px 180px 42px 35px;
  }
}

.catalog__link--interior {
  &::after {
    @include icon("icon-interior.svg", 40px, 62px);
    margin-top: -27px;
    right: 38px;

    @media ($tablet) {
      margin-top: -32px;
    }
  }
}

.catalog__link--toy {
  &::after {
    @include icon("icon-toy.svg", 60px, 60px);
    margin-top: -32px;
    right: 28px;

    @media ($tablet) {
      right: 32px;
    }
  }
}
