.contacts {
  //
}

.contacts__center-wrapper {
  padding: 34px 29px 39px;
  position: relative;

  @media ($tablet) {
    padding: 62px 50px 55px;
    background-image: url("../img/icon-flag.svg");
    background-repeat: no-repeat;
    background-position: top 48px right 53px;
    text-align: center;
  }

  @media ($desktop) {
    display: flex;
    padding: 77px 50px 105px 220px;
    background-position: top 139px left 113px;
  }
}

.contacts__wrapper {
  @media ($desktop) {
    flex-shrink: 0;
    width: 355px;
    margin: 0;
    padding: 69px 0 54px;
  }
}

.contacts__title {
  @include text(18px, 30px, 700);
  margin: 0 0 26px;

  @media ($tablet) {
    @include text(43px, 50px, 700);
    margin: 0 0 48px -5px;
    text-align: left;
  }

  @media ($desktop) {
    @include text(53px, 57px, 700);
    margin: 0 0 48px;
    text-align: left;
  }
}

.contacts__description-table {
  @include text(15px, 30px);
  margin: 0 0 9px;
  color: $text-color;
  border-collapse: collapse;

  @media ($tablet) {
    @include text(17px, 30px);
    margin: 0 0 37px;
    text-align: left;
  }

  @media ($desktop) {
    margin: 0 0 0 3px;
  }
}

.contacts__description-tbody {
  @media ($tablet) {
    display: flex;
    flex-wrap: wrap;
  }

  @media ($desktop) {
    display: block;
  }
}

.contacts__description-row {
  display: block;
  margin: 0 0 28px;

  @media ($tablet) {
    margin: 0 0 20px;
  }

  @media ($desktop) {
    margin: 0 0 28px;
  }
}

.contacts__description-row:not(:last-child) {
  @media ($tablet) {
    margin: 0 46px 20px 0;
  }
}

.contacts__description-col {
  vertical-align: top;

  &:first-child {
    width: 76px;

    @media ($tablet) {
      width: 72px;
    }

    @media ($desktop) {
      width: 77px;
    }
  }
}

.contacts__email {
  margin: 0 3px 0 0;
  padding: 0 0 4px;
  border-bottom: 1px solid $greeny-blue;
  outline: none;
  color: $text-color;

  &:hover,
  &:focus {
    color: $greeny-blue;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__address {
  width: 150px;
  font-style: normal;

  @media ($tablet) {
    width: 240px;
  }
}

.contacts__map {
  flex-shrink: 0;
  width: calc(100% + 60px);
  height: 457px;
  margin: 0 0 37px;
  position: relative;
  z-index: 1;
  left: -30px;
  overflow: hidden;
  background-image: url("../img/icon-map-pin.svg"), url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/icon-map-pin.svg"), url("../img/map-mobile@2x.jpg");
  }

  @media ($tablet) {
    width: calc(100% + 100px);
    margin: 0 0 52px;
    left: -50px;
    background-image: url("../img/icon-map-pin.svg"), url("../img/map-tablet@1x.jpg");
  }

  @media ($tablet) and (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/icon-map-pin.svg"), url("../img/map-tablet@2x.jpg");
  }

  @media ($desktop) {
    width: 525px;
    margin: 0;
    left: 0;
    background-image: url("../img/icon-map-pin.svg"), url("../img/map-desktop@1x.jpg");
  }

  @media ($desktop) and (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/icon-map-pin.svg"), url("../img/map-desktop@2x.jpg");
  }
}

.contacts__write-us-button {
  @media ($tablet) {
    display: inline-block;
    padding: 15px 43px;
    vertical-align: middle;
  }

  @media ($desktop) {
    position: absolute;
    bottom: 105px;
    left: 226px;
  }
}
