.contacts {
  //
}

.contacts__center-wrapper {
  padding: 37px 30px;
  position: relative;

  @media ($tablet) {
    padding: 62px 50px 55px;
    text-align: center;
  }

  @media ($desktop) {
    display: flex;
    padding: 77px 50px 105px 220px;
  }
}

.contacts__wrapper {
  @media ($desktop) {
    padding: 74px 0 54px;
  }
}

.contacts__title {
  @include text(18px, 30px, 700);
  margin: 0 0 23px;

  @media ($tablet) {
    @include text(43px, 50px, 700);
    margin: 0 0 48px;
    text-align: left;
  }

  @media ($desktop) {
    @include text(53px, 57px, 700);
    margin: 0 0 46px;
    text-align: left;
  }
}

.contacts__description-table {
  @include text(15px, 30px);
  margin: 0 0 10px;
  color: $text-color;
  border-collapse: collapse;

  @media ($tablet) {
    @include text(17px, 30px);
    margin: 0 0 59px;
    text-align: left;
  }

  @media ($desktop) {
    margin: 0;
  }
}

.contacts__description-tbody {
  @media ($tablet) {
    display: flex;
  }

  @media ($desktop) {
    display: block;
  }
}

.contacts__description-row {
  //
}

.contacts__description-row:first-child {
  @media ($tablet) {
    margin: 0 46px 0 0;
  }
}

.contacts__description-col {
  display: inline-block;
  margin: 0 0 30px;
  vertical-align: top;

  @media ($tablet) {
    margin: 0;
  }

  @media ($desktop) {
    margin: 0 0 30px;
  }

  &:first-child {
    width: 78px;
  }
}

.contacts__email {
  padding-bottom: 5px;
  border-bottom: 1px solid $seafoam-blue;
}

.contacts__address {
  width: 150px;
  font-style: normal;

  @media ($tablet) {
    width: 240px;
  }
}

.contacts__map {
  width: 322px;
  margin: 0 auto 36px;
  position: relative;
  left: -30px;

  @media ($tablet) {
    width: 768px;
    margin: 0 auto 53px;
    left: -50px;
  }

  @media ($desktop) {
    width: 525px;
    margin: 0 0 0 auto;
    position: static;
  }
}

.contacts__image {
  margin: 0;
}

.contacts__write-us-button {
  @media ($tablet) {
    display: inline-block;
    padding: 15px 43px;
    vertical-align: middle;
  }

  @media ($desktop) {
    position: absolute;
    bottom: 104px;
    left: 226px;
  }
}
