.goods {
  background-color: white;
}

.goods__title-wrapper {
  //
}

.goods__title {
  @include text(27px, 30px, 700);
  padding: 70px 0 76px;
  text-align: center;

  @media ($tablet) {
    @include text(43px, 50px, 700);
    padding: 54px 0 92px;
  }

  @media ($desktop) {
    @include text(53px, 57px, 700);
    width: 1050px;
    margin: 0 auto;
    padding: 52px 0 117px;
  }
}

.goods__center-wrapper {
  padding: 30px 30px 0;

  @media ($tablet) {
    padding: 67px 50px 0;
  }

  @media ($desktop) {
    padding: 114px 50px 0;
  }
}

.goods__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;

  @media ($desktop) {
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.goods__item {
  margin: 0 0 30px;
  padding: 0 0 28px;
  outline: 1px solid $border-color;
  position: relative;

  @media ($tablet) {
    display: flex;
    margin: 0 0 54px;
    padding: 0;
  }

  @media ($desktop) {
    flex-direction: column;
    width: 316px;
    margin: 0 0 59px;
  }

  &:hover,
  &:focus,
  &:focus-within {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.goods__image-link {
  display: block;
  width: 260px;
  margin: 0 auto;
  outline: none;

  @media ($tablet) {
    width: 334px;
  }

  @media ($desktop) {
    width: 316px;
  }
}

.goods__image {
  //
}

.goods__item-container {
  padding: 27px 28px 0;

  @media ($tablet) {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    padding: 25px 28px 29px;
  }

  @media ($desktop) {
    height: 100%;
    padding: 25px 26px 26px;
  }
}

.goods__item-link {
  @include text(17px, 24px, 700);
  margin: 0 0 5px;
  display: block;
  outline: none;

  @media ($tablet) {
    @include text(20px, 24px, 700);
    margin: 0 0 6px;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.goods__description {
  @include text(13px, 30px);
  display: block;
  margin: 0 0 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $border-color;
  color: $text-color;
  text-align: left;

  @media ($tablet) {
    @include text(15px, 30px);
    margin: 0;
    padding: 0;
    border: 0;
  }

  @media ($desktop) {
    margin: 0 0 17px;
  }
}

.goods__price {
  @include text(15px, 24px, 700);
  color: black;
  text-align: left;

  @media ($tablet) {
    @include text(17px, 24px, 700);
    display: block;
    margin: auto 0 0 4px;
    border-top: 1px solid $border-color;
    padding-top: 20px;
  }

  @media ($desktop) {
    margin: auto 0 0;
  }
}

.goods__cart {
  outline: none;
  position: absolute;
  right: 28px;

  @media ($tablet) {
    bottom: 23px;
    right: 33px;
  }

  svg {
    opacity: 0.2;
  }

  &:hover svg,
  &:focus svg {
    fill: $seafoam-blue;
    opacity: 1;
  }

  &:active svg {
    opacity: 0.3;
  }
}
