.order {
  //
}

.order__title-wrapper {
  @media ($tablet) {
    margin: 0 0 60px;
  }

  @media ($desktop) {
    margin: 0 0 106px;
  }
}

.order__title {
  @include text(27px, 30px, 700);
  margin: 0 0 23px;
  padding: 70px 0 76px;
  text-align: center;

  @media ($tablet) {
    @include text(43px, 50px, 700);
    margin: 0 0 60px;
    padding: 54px 0 92px;
  }

  @media ($desktop) {
    @include text(53px, 57px, 700);
    margin: 0 calc((100% - 1150px) / 2 + 50px + 150px);
    padding: 54px 0 115px;
  }
}

.order__text {
  @include text(13px, 24px);
  margin: 0 30px 22px;

  @media ($tablet) {
    @include text(17px, 30px);
    margin: 0 50px 72px;
  }

  @media ($desktop) {
    margin: 0 226px 76px;
  }
}

.order__order-form {
  margin: 0 27px;

  @media ($tablet) {
    margin: 0;
  }
}
