@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.order-form {
  padding: 23px 30px 56px;

  @media ($tablet) {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 54px 0 50px;
  }

  @media ($desktop) {
    padding: 56px 0 47px;
  }
}

.order-form--invalid {
  animation-name: shake;
  animation-duration: 0.6s;
}

.order-form__fieldset {
  padding: 0;
  border: none;

  @media ($tablet) {
    width: 100%;
  }
}

.order-form__add-fieldset {
  margin: 0 0 10px;

  @media ($tablet) {
    margin: 0 0 52px;
  }

  @media ($desktop) {
    margin: 0 0 49px;
  }
}

.order-form__color-fieldset {
  margin: 0 0 30px;

  @media ($tablet) {
    margin: 0 0 49px;
    background-color: $footer-color;
  }

  @media ($desktop) {
    margin: 0 0 50px;
  }
}

.order-form__fullname-fieldset {
  margin: 0 0 11px;

  @media ($tablet) {
    margin: 0 0 29px;
  }
}

.order-form__email-fieldset {
  margin: 0 0 12px;

  @media ($tablet) {
    margin: 0 0 47px;
    background-color: $footer-color;
  }

  @media ($desktop) {
    margin: 0 0 50px;
  }
}

.order-form__phone-fieldset {
  margin: 0 0 11px;

  @media ($tablet) {
    margin: 0;
    background-color: $footer-color;
  }
}

.order-form__type-fieldset {
  margin: 0 0 30px;

  @media ($tablet) {
    margin: 0 0 30px;
  }

  @media ($desktop) {
    margin: 0 0 27px;
  }
}

.order-form__center-wrapper {
  @media ($tablet) {
    display: flex;
    width: 100%;
    padding: 0 50px;
  }

  @media ($desktop) {
    width: 1150px;
    padding: 0 225px 0 110px;
  }
}

.order-form__add-wrapper {
  //
}

.order-form__color-wrapper {
  @media ($tablet) {
    padding: 46px 50px 25px;
  }

  @media ($desktop) {
    padding: 48px 110px 24px;
  }
}

.order-form__fullname-wrapper {
  //
}

.order-form__email-wrapper {
  position: relative;

  @media ($tablet) {
    margin: 24px 0 52px;
  }

  @media ($desktop) {
    margin: 0 auto;
    padding: 24px 225px 51px 110px;
  }
}

.order-form__phone-wrapper {
  position: relative;

  @media ($tablet) {
    margin: 49px 0 0;
  }

  @media ($desktop) {
    margin: 0 auto;
    padding: 48px 225px 0 110px;
  }
}

.order-form__type-wrapper {
  @media ($desktop) {
    padding: 0 225px 0 115px;
  }
}

.order-form__legend {
  @include text(17px, 16px, 700);
  width: 100%;
  margin: 0 0 24px;
  position: relative;
  color: $seafoam-blue;
  text-transform: uppercase;

  @media ($tablet) {
    width: 167px;
    margin: 20px 0 0;
    flex-shrink: 0;
  }

  @media ($desktop) {
    width: 110px;
  }

  &::after {
    height: 1px;
    position: absolute;
    top: 8px;
    right: 0;
    background-color: $seafoam-blue;
    content: "";

    @media ($tablet) {
      content: none;
    }
  }
}

.order-form__add-legend {
  @media ($tablet) {
    margin: 17px 0 0;
  }

  @media ($desktop) {
    width: 115px;
    margin: 18px 0 0;
  }

  &::after {
    width: calc(100% - 65px);
  }
}

.order-form__color-legend {
  @media ($tablet) {
    width: 167px;
  }

  @media ($desktop) {
    width: 115px;
  }

  &::after {
    width: calc(100% - 65px);
  }
}

.order-form__fullname-legend {
  margin: 0 0 30px;

  @media ($tablet) {
    width: 167px;
    margin: 19px 0 0;
  }

  @media ($desktop) {
    width: 116px;
  }

  &::after {
    width: calc(100% - 65px);
  }
}

.order-form__email-legend {
  margin: 0 0 7px;

  @media ($tablet) {
    margin: 17px 0 0;
  }

  @media ($desktop) {
    width: 115px;
    margin: 19px 0 0;
  }

  &::after {
    width: calc(100% - 84px);
  }
}

.order-form__phone-legend {
  margin: 0 0 7px;

  @media ($tablet) {
    margin: 17px 0 0;
  }

  @media ($desktop) {
    width: 115px;
    margin: 18px 0 0;
  }

  &::after {
    width: calc(100% - 65px);
  }
}

.order-form__type-legend {
  &::after {
    width: calc(100% - 65px);
  }
}

.order-form__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media ($tablet) {
    flex-grow: 1;
  }
}

.order-form__color-list {
  @media ($tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.order-form__fullname-list {
  //
}

.order-form__type-list {
  //
}

.order-form__item {
  //
}

.order-form__color-item {
  &:nth-child(odd) {
    @media ($tablet) {
      width: 52%;
    }

    @media ($desktop) {
      width: 32.1%;
    }
  }

  &:nth-child(even) {
    @media ($tablet) {
      width: 48%;
    }

    @media ($desktop) {
      width: 32.1%;
    }
  }
}

.order-form__fullname-item {
  @media ($tablet) {
    display: flex;
    align-items: center;
    margin: 0 0 24px;
  }
}

.order-form__type-item {
  //
}

.order-form__radio {
  //
}

.order-form__radio + .order-form__label {
  &::before {
    width: 40px;
    height: 40px;
    border: 2px solid $text-color;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 0;
    content: "";
    transition: 0.3s;

    @media ($tablet) {
      width: 52px;
      height: 52px;
    }
  }

  &:hover::before,
  &:focus::before {
    border: 2px solid $aquamarin-blue;
  }

  &:active::before {
    border: 2px solid $text-color;
    opacity: 0.3;
  }

  &::after {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: 12px;
    background-color: transparent;
    content: "";

    @media ($tablet) {
      width: 22px;
      height: 22px;
      top: 17px;
      left: 15px;
    }
  }
}

.order-form__radio:focus + .order-form__label::before {
  border: 2px solid $aquamarin-blue;
  transition: 0.3s;
}

.order-form__radio:checked + .order-form__label {
  &::after {
    background-color: $aquamarin-blue;
  }
}

.order-form__radio:disabled + .order-form__label {
  &:hover::before,
  &:focus::before {
    border: 2px solid $text-color;
  }

  &:active::before {
    border: 2px solid $text-color;
    opacity: 1;
  }
}

.order-form__checkbox {
  //
}

.order-form__checkbox + .order-form__label {
  &::before {
    width: 40px;
    height: 40px;
    border: 2px solid $text-color;
    position: absolute;
    top: 0;
    left: 0;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    content: "";
    transition: 0.3s;

    @media ($tablet) {
      width: 54px;
      height: 52px;
    }
  }

  &:hover::before,
  &:focus::before {
    border: 2px solid $aquamarin-blue;
  }

  &:active::before {
    border: 2px solid $text-color;
    opacity: 0.3;
    transition: 0.3s;
  }
}

.order-form__checkbox:focus + .order-form__label::before {
  border: 2px solid $aquamarin-blue;
  transition: 0.3s;
}

.order-form__checkbox:checked + .order-form__label {
  &::before {
    background-image: url("../img/icon-tick.svg");
  }
}

.order-form__checkbox:disabled + .order-form__label {
  &:hover::before,
  &:focus::before {
    border: 2px solid $text-color;
  }

  &:active::before {
    border: 2px solid $text-color;
    opacity: 1;
  }
}

.order-form__field {
  @include text(17px, 18px);
  width: 100%;
  height: 52px;
  margin: 0 0 21px;
  padding: 0 44px 0 0;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  background-color: transparent;
  color: rgba(68, 68, 68, 0.3);
  transition: 0.3s;

  @media ($tablet) {
    @include text(19px, 18px);
    margin: 0 0 0 auto;
    padding: 0 44px 0 18px;
  }

  @media ($desktop) {
    padding: 0 44px 0 16px;
  }

  &:hover {
    border-bottom: 2px solid $aquamarin-blue;
  }

  &:focus {
    border-bottom: 2px solid $aquamarin-blue;
    color: $text-color;
  }

  &:valid {
    background-color: transparent;
    color: $text-color;
  }
}

.order-form__field--invalid,
.order-form__field--invalid:hover,
.order-form__field--invalid:focus {
  border-bottom: 2px solid #d16379;
}

.order-form__fullname-field {
  //
}

.order-form__email-field {
  transition: 0.3s;

  & + .order-form__email-label path {
    opacity: 0.2;
  }

  &:hover + .order-form__email-label path,
  &:focus + .order-form__email-label path {
    fill: $aquamarin-blue;
    opacity: 1;
  }
}

.order-form__phone-field {
  @include text(19px, 19px);
  transition: 0.3s;

  & + .order-form__phone-label path {
    opacity: 0.2;
  }

  &:hover + .order-form__phone-label path,
  &:focus + .order-form__phone-label path {
    fill: $aquamarin-blue;
    opacity: 1;
  }
}

.order-form__textarea {
  @include text(17px, 18px);
  width: 100%;
  height: 142px;
  padding: 15px;
  border: 2px solid $text-color;
  outline: none;
  background-color: transparent;
  color: rgba(68, 68, 68, 0.3);
  resize: none;
  transition: 0.3s;

  @media ($tablet) {
    @include text(19px, 18px);
    margin: 0 0 0 auto;
    padding: 13px 16px;
  }

  &:hover {
    border: 2px solid $aquamarin-blue;
  }

  &:focus {
    border: 2px solid $aquamarin-blue;
    color: $text-color;
  }
}

.order-form__color-checkbox {
  //
}

.order-form__label {
  @include text(17px, 18px, 700);
  position: relative;
  color: black;

  @media ($tablet) {
    @include text(19px, 18px, 700);
  }
}

.order-form__color-label {
  display: block;
  margin: 0 0 19px;
  padding: 12px 0 12px 62px;

  @media ($tablet) {
    margin: 0 0 26px;
    padding: 17px 0 16px 80px;
  }
}

.order-form__fullname-label {
  display: block;

  @media ($tablet) {
    margin: 0 24px 0 0;
  }
}

.order-form__email-label {
  position: absolute;
  bottom: 27px;
  right: 4px;

  @media ($tablet) {
    top: 12px;
    right: 72px;
  }

  @media ($desktop) {
    top: 34px;
    right: 229px;
  }
}

.order-form__phone-label {
  position: absolute;
  bottom: 36px;
  right: 8px;

  @media ($tablet) {
    bottom: 15px;
    right: 76px;
  }

  @media ($desktop) {
    bottom: 15px;
    right: 233px;
  }
}

.order-form__type-radio {
  //
}

.order-form__type-label {
  display: block;
  padding: 11px 0 13px 63px;

  @media ($tablet) {
    margin: 0 0 22px;
    padding: 18px 0 18px 80px;
  }
}

.order-form__required {
  @include text(14px, 16px);
  display: block;
  margin: 0 0 29px;
  color: $text-color;

  @media ($tablet) {
    @include text(17px, 30px);
    order: 2;
    margin: 10px 0 0 auto;
  }
}

.order-form__submit-button {
  width: 100%;
  background-color: transparent;

  @media ($tablet) {
    @include text(17px, 16px, 700);
    width: auto;
    padding: 17px 30px;
  }

  @media ($desktop) {
    margin: 0 0 0 115px;
  }
}
