.order {
  margin-bottom: 52px;
}

.order__title {
  @include text(700, 27px, 30px);
  margin-bottom: 23px;
  padding: 70px 0 76px;
  background-color: $footer-color;
  text-align: center;
}

.order__text {
  @include text(400, 13px, 24px);
  margin: 0 30px 22px;
}

.order__order-form {
  margin: 0 27px;
}
