.order-form {
  padding: 22px 30px 52px;

  @media ($tablet) {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 56px 0 52px;
  }

  @media ($desktop) {
    padding: 56px 0 46px;
  }
}

.order-form__fieldset {
  padding: 0;
  border: none;

  @media ($tablet) {
    width: 100%;
  }
}

.order-form__add-fieldset {
  margin: 0 0 10px;

  @media ($tablet) {
    margin: 0 0 50px;
  }
}

.order-form__color-fieldset {
  margin: 0 0 30px;

  @media ($tablet) {
    margin: 0 0 50px;
    background-color: $footer-color;
  }
}

.order-form__fullname-fieldset {
  margin: 0 0 10px;

  @media ($tablet) {
    margin: 0 0 29px;
  }
}

.order-form__email-fieldset {
  margin: 0 0 12px;

  @media ($tablet) {
    margin: 0 0 50px;
    background-color: $footer-color;
  }
}

.order-form__phone-fieldset {
  margin: 0 0 11px;

  @media ($tablet) {
    margin: 0;
    background-color: $footer-color;
  }
}

.order-form__type-fieldset {
  margin: 0 0 34px;

  @media ($tablet) {
    margin: 0 0 30px;
  }

  @media ($desktop) {
    margin: 0 0 27px;
  }
}

.order-form__center-wrapper {
  @media ($tablet) {
    display: flex;
    width: 100%;
    padding: 0 50px;
  }

  @media ($desktop) {
    width: 1150px;
    padding: 0 225px 0 110px;
  }
}

.order-form__add-wrapper {
  //
}

.order-form__color-wrapper {
  @media ($tablet) {
    padding: 46px 50px 25px;
  }

  @media ($desktop) {
    padding: 48px 110px 24px;
  }
}

.order-form__fullname-wrapper {
  //
}

.order-form__email-wrapper {
  position: relative;

  @media ($tablet) {
    margin: 24px 0 52px;
  }

  @media ($desktop) {
    margin: 0 auto;
    padding: 24px 225px 48px 110px;
  }
}

.order-form__phone-wrapper {
  position: relative;

  @media ($tablet) {
    margin: 48px 0 0;
  }

  @media ($desktop) {
    margin: 0 auto;
    padding: 48px 225px 0 110px;
  }
}

.order-form__type-wrapper {
  @media ($desktop) {
    padding: 0 225px 0 115px;
  }
}

.order-form__legend {
  @include text(17px, 16px, 700);
  width: 100%;
  margin: 0 0 24px;
  position: relative;
  color: $seafoam-blue;
  text-transform: uppercase;

  @media ($tablet) {
    width: 165px;
    margin: 20px 0 0;
    flex-shrink: 0;
  }

  @media ($desktop) {
    width: 110px;
  }

  &::after {
    height: 1px;
    position: absolute;
    top: 10px;
    right: 0;
    background-color: $seafoam-blue;
    content: "";

    @media ($tablet) {
      content: none;
    }
  }
}

.order-form__add-legend {
  @media ($tablet) {
    margin: 17px 0 0;
  }

  @media ($desktop) {
    width: 115px;
  }

  &::after {
    width: calc(100% - 65px);
  }
}

.order-form__color-legend {
  @media ($tablet) {
    width: 167px;
  }

  @media ($desktop) {
    width: 115px;
  }

  &::after {
    width: calc(100% - 65px);
  }
}

.order-form__fullname-legend {
  margin: 0 0 30px;

  @media ($tablet) {
    width: 167px;
    margin: 17px 0 0;
  }

  @media ($tablet) {
    width: 116px;
  }

  &::after {
    width: calc(100% - 65px);
  }
}

.order-form__email-legend {
  margin: 0 0 6px;

  @media ($tablet) {
    margin: 17px 0 0;
  }

  @media ($desktop) {
    width: 115px;
  }

  &::after {
    width: calc(100% - 84px);
  }
}

.order-form__phone-legend {
  margin: 0 0 5px;

  @media ($tablet) {
    margin: 17px 0 0;
  }

  @media ($desktop) {
    width: 115px;
  }

  &::after {
    width: calc(100% - 65px);
  }
}

.order-form__type-legend {
  &::after {
    width: calc(100% - 65px);
  }
}

.order-form__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media ($tablet) {
    flex-grow: 1;
  }
}

.order-form__color-list {
  @media ($tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.order-form__fullname-list {
  //
}

.order-form__type-list {
  //
}

.order-form__item {
  //
}

.order-form__color-item {
  &:nth-child(odd) {
    @media ($tablet) {
      width: 52%;
    }

    @media ($desktop) {
      width: 32.1%;
    }
  }

  &:nth-child(even) {
    @media ($tablet) {
      width: 48%;
    }

    @media ($desktop) {
      width: 32.1%;
    }
  }
}

.order-form__fullname-item {
  @media ($tablet) {
    display: flex;
    align-items: center;
    margin-bottom: 23px;
  }
}

.order-form__type-item {
  //
}

.order-form__radio {
  //
}

.order-form__radio + .order-form__label {
  &::before {
    width: 40px;
    height: 40px;
    border: 2px solid $text-color;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 0;
    content: "";

    @media ($tablet) {
      width: 52px;
      height: 52px;
    }
  }

  &::after {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    top: 12px;
    left: 12px;
    background-color: transparent;
    content: "";

    @media ($tablet) {
      width: 22px;
      height: 22px;
      top: 15px;
      left: 15px;
    }
  }
}

.order-form__radio:checked + .order-form__label {
  &::after {
    background-color: $seafoam-blue;
  }
}

.order-form__checkbox {
  //
}

.order-form__checkbox + .order-form__label {
  &::before {
    width: 40px;
    height: 40px;
    border: 2px solid $text-color;
    position: absolute;
    top: 0;
    left: 0;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    content: "";

    @media ($tablet) {
      width: 54px;
      height: 52px;
    }
  }
}

.order-form__checkbox:checked + .order-form__label {
  &::before {
    background-image: url("../img/icon-tick.svg");
  }
}

.order-form__field {
  @include text(17px, 18px);
  width: 100%;
  height: 53px;
  margin: 0 0 22px;
  padding: 0 44px 0 0;
  border: none;
  border-bottom: 2px solid black;
  background-color: transparent;
  color: rgba(68, 68, 68, 0.3);

  @media ($tablet) {
    @include text(19px, 18px);
    margin: 0 0 0 auto;
    padding: 0 44px 0 15px;
  }
}

.order-form__fullname-field {
  //
}

.order-form__email-field {
  //
}

.order-form__phone-field {
  @include text(19px, 19px);
}

.order-form__textarea {
  @include text(17px, 18px);
  width: 100%;
  height: 142px;
  padding: 15px;
  border: 2px solid $text-color;
  background-color: transparent;
  color: rgba(68, 68, 68, 0.3);
  resize: none;

  @media ($tablet) {
    @include text(19px, 18px);
    margin: 0 0 0 auto;
    padding: 13px;
  }
}

.order-form__color-checkbox {
  //
}

.order-form__label {
  @include text(17px, 18px, 700);
  position: relative;
  color: black;

  @media ($tablet) {
    @include text(19px, 18px, 700);
  }
}

.order-form__color-label {
  display: block;
  margin: 0 0 19px;
  padding: 12px 0 12px 62px;

  @media ($tablet) {
    margin: 0 0 26px;
    padding: 17px 0 17px 80px;
  }
}

.order-form__fullname-label {
  display: block;

  @media ($tablet) {
    margin: 0 26px 0 0;
  }
}

.order-form__email-label {
  position: absolute;
  bottom: 27px;
  right: 6px;
  opacity: 0.2;

  @media ($tablet) {
    top: 12px;
    right: 71px;
  }

  @media ($desktop) {
    top: 34px;
    right: 229px;
  }
}

.order-form__phone-label {
  position: absolute;
  bottom: 36px;
  right: 8px;
  opacity: 0.2;

  @media ($tablet) {
    bottom: 15px;
    right: 76px;
  }

  @media ($desktop) {
    bottom: 15px;
    right: 233px;
  }
}

.order-form__type-radio {
  //
}

.order-form__type-label {
  display: block;
  padding: 11px 0 13px 63px;

  @media ($tablet) {
    margin: 0 0 22px;
    padding: 18px 0 18px 81px;
  }
}

.order-form__required {
  @include text(14px, 16px);
  display: block;
  margin-bottom: 30px;
  color: $text-color;

  @media ($tablet) {
    @include text(17px, 30px);
    order: 2;
    margin: 10px 0 0 auto;
  }

  @media ($desktop) {
    margin: 10px 0 0 auto;
  }
}

.order-form__submit-button {
  width: 100%;
  background-color: transparent;

  @media ($tablet) {
    @include text(17px, 16px, 700);
    width: auto;
    padding: 17px 30px;
  }

  @media ($desktop) {
    margin: 0 0 0 115px;
  }
}
