.production {
  @include bg-icon("icon-video.svg", 28px, 30px);
  padding: 20px 0 30px;
  border: 1px solid $border-color;
}

.production__title {
  @include text(17px, 24px, 700);
  margin: 0 0 27px 88px;
}

.production__video {

}

.production__img {
  margin-bottom: 24px;
}

.production__text {
  @include text(13px, 24px);
  margin: 0 40px 24px 32px;
  color: $text-color;
}

.production__order-button {
  margin: 0 32px;
}
