.production {
  //
}

.production__center-wrapper {
  padding: 0 30px 61px;

  @media ($tablet) {
    display: flex;
    flex-direction: column;
    padding: 0 50px 64px;
  }

  @media ($desktop) {
    padding: 0 50px 104px;
  }
}

.production__wrapper {
  outline: 1px solid $border-color;
  padding: 25px 0 30px;
  position: relative;

  @media ($tablet) {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  @media ($desktop) {
    min-height: 455px;
    padding: 41px 20px 15px 718px;
  }

  &:hover,
  &:focus,
  &:focus-within {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.production__title {
  @include text(17px, 24px, 700);
  margin: 0 34px 25px;
  padding: 0 0 0 56px;
  position: relative;

  @media ($tablet) {
    @include text(20px, 24px, 700);
    margin: 0 42px 34px;
    padding: 0 0 0 66px;
  }

  @media ($desktop) {
    margin: 0 70px 34px 42px;
    padding: 54px 0 0;
  }

  &::before {
    @include icon("icon-video.svg", 32px, 32px);
    position: absolute;
    margin-top: -16px;
    top: 50%;
    left: 0;

    @media ($desktop) {
      margin: 0;
      top: 0;
      left: 2px;
    }
  }
}

.production__video {
  width: 260px;
  height: 150px;
  margin: 0 auto 27px;
  position: relative;

  @media ($tablet) {
    order: -1;
    width: 668px;
    height: 455px;
    margin: 0 auto 37px;
  }

  @media ($desktop) {
    width: 682px;
    height: 455px;
    position: absolute;
    top: 0;
    left: 0;
  }

  &:hover .production__video-button,
  &:focus .production__video-button {
    transform: scale(1.2);
  }
}

.production__video-button {
  margin-top: -38.5px;
  margin-left: -50.5px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  transition: 0.1s;

  &:hover,
  &:focus {
    transform: scale(1.2);
  }

  &:active {
    opacity: 0.3;
    transform: scale(0.8);
  }
}

.production__video-image {
  position: absolute;
  z-index: 2;

  img {
    display: block;
  }
}

.production__video-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.production__text {
  @include text(13px, 24px);
  margin: 0 40px 24px 34px;
  color: $text-color;

  @media ($tablet) {
    @include text(15px, 30px);
    margin: 0 40px 36px;
  }

  @media ($desktop) {
    margin: 0 42px 45px;
  }
}

.production__order-button {
  margin: 0 33px;

  @media ($tablet) {
    margin: 0 42px 44px;
    padding: 14px 0;
  }

  @media ($desktop) {
    margin: 0 39px 44px 43px;
    padding: 14px 0;
  }
}
