.response {
  //
}

.response__center-wrapper {
  padding: 55px 30px 50px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: bottom center;
  background-size: 100%;

  @media ($tablet) {
    padding: 76px 50px 100px 46px;
    background-image: url("../img/review@1x.jpg"), url("../img/bg-zigzag-line.svg");
    background-repeat: no-repeat;
    background-position: top left, bottom center;
    background-size: 350px, 100%;
  }

  @media ($tablet) and (min-resolution: 144dpi), ($tablet) and (min-resolution: 1.5dppx) {
    background-image: url("../img/review@2x.jpg"), url("../img/bg-zigzag-line.svg");
  }

  @media ($desktop) {
    padding: 63px 50px 82px;
    background-position: top 65px left 50px, bottom center;
    background-size: auto, 1050px;
  }
}

.response__wrapper {
  @media ($tablet) {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
  }

  @media ($desktop) {
    padding: 70px 0 68px 170px;
  }
}

.response__title {
  margin: 0 0 24px;

  @media ($tablet) {
    order: 1;
    margin: 0 0 49px;
  }
}

.response__comment-list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media ($tablet) {
    order: 3;
  }
}

.response__comment-item {
  display: none;
}

.response__comment-item--show {
  display: block;
}

.response__comment-quote {
  @include text(15px, 30px);
  margin: 0 0 27px;
  color: $text-color;

  @media ($tablet) {
    @include text(17px, 30px);
    margin: 0 0 57px 4px;
  }

  @media ($desktop) {
    margin: 0 80px 40px 4px;
  }
}

.response__comment-author {
  @include text(17px, 24px, 700);
  display: block;
  margin-bottom: 4px;
  color: black;
  font-style: normal;

  @media ($tablet) {
    @include text(18px, 24px, 700);
    margin: 0 0 4px 2px;
  }

  @media ($desktop) {
    @include text(17px, 24px, 700);
    margin: 0 200px 2px 4px;
  }
}

.response__comment-tag {
  @include text(17px, 30px);
  display: block;
  margin: 0 0 28px;
  color: $text-color;
  font-style: normal;

  @media ($tablet) {
    margin: 0 200px 30px 4px;
  }
}

.response__control-list {
  display: flex;
  margin: 0 auto 36px;
  padding: 0;
  border: 1px solid $border-color;
  list-style: none;

  @media ($tablet) {
    order: 4;
    margin: 0;
    border: none;
    position: absolute;
    bottom: 30px;
    right: 0;
  }

  @media ($desktop) {
    bottom: 98px;
  }
}

.response__control-item {
  width: 50%;
  height: 51px;

  @media ($tablet) {
    width: auto;
  }
}

.response__control-item:first-child {
  border-right: 1px solid $border-color;

  @media ($tablet) {
    border: none;
  }
}

.response__control-button {
  width: 100%;
  height: 100%;
  outline: none;
  background-color: transparent;
  background-position: center 12px;
  background-repeat: no-repeat;
  border: none;
  transition: 0.3s;

  @media ($tablet) {
    width: 88px;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.response__control-button--next {
  background-image: url("../img/icon-right-arrow.svg");
}

.response__control-button--prev {
  background-image: url("../img/icon-left-arrow.svg");
}

.response__write-button {
  @media ($tablet) {
    order: 2;
    margin: 2px 0 0 auto;
    padding: 14px 39px;
  }

  @media ($desktop) {
    margin: 8px 0 0 auto;
  }
}
