.site-footer {
  background-color: $footer-color;
}

.site-footer__center-wrapper {
  padding: 28px 30px;

  @media ($tablet) {
    padding: 50px;
  }

  @media ($desktop) {
    padding: 50px;
  }
}

.site-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @media ($tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.site-footer__logo {
  display: none;
  outline: none;
  transition: 0.3s;

  @media ($tablet) {
    display: block;
  }

  &:hover svg,
  &:focus svg {
    fill: $aqua-marine-two;
  }

  &:active svg {
    opacity: 0.3;
  }
}

.site-footer__social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 261px;
  margin: 0 0 12px;
  padding: 0 59px 20px;
  border-bottom: 1px solid $border-color;
  position: relative;
  left: -3px;
  top: -4px;
  list-style: none;

  @media ($tablet) {
    max-width: 141px;
    margin: 0;
    padding: 0;
    left: 38px;
    top: 6px;
  }
}

.site-footer__social-item {
  margin-right: 40px;

  &:nth-child(3n) {
    margin: 0;
  }
}

.site-footer__social-link {
  outline: none;
  transition: 0.3s;

  &:hover svg,
  &:focus svg {
    fill: $aqua-marine-two;
  }

  &:active svg {
    opacity: 0.3;
  }
}

.site-footer__caption {
  //
}
