.site-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 28px 30px 28px;
  background-color: $footer-color;

  @media ($tablet) {
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 50px 50px 41px;
  }
}

.site-footer__logo {
  display: none;

  @media ($tablet) {
    display: block;
  }
}

.site-footer__social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 0 20px;
  padding: 0 60px 20px;
  border-bottom: 1px solid $border-color;
  list-style: none;

  @media ($tablet) {
    margin: 0 115px;
    padding: 0;
    position: relative;
    left: 35px;
  }
}

.site-footer__social-item {

}

.site-footer__social-link {

}

.site-footer__caption {

}
