.site-navigation {
  position: relative;

  &::after {
    display: none;
    width: 100%;
    border-top: 1px solid $border-color;
    position: absolute;
    left: 0;
    content: "";
    z-index: -1;

    @media ($tablet) {
      display: block;
      height: 620px;
      top: 88px;
    }
  }
}

.site-navigation__center-wrapper {
  @media ($tablet) {
    padding: 0 50px;
  }
}

.site-navigation--image-color {
  &::after {
    background-color: $image-color;
  }
}

.site-navigation--footer-color {
  &::after {
    background-color: $footer-color;
  }
}

.site-navigation__menu-toggle {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 30px;
  right: 31px;
  border: none;
  background-color: transparent;
  background-image: url("../img/icon-menu-close.svg");

  @media ($tablet) {
    display: none;
  }
}

.site-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media ($tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.site-navigation__item {
  display: flex;
  border-bottom: 1px solid $border-color;
  padding: 26px 0 28px 76px;

  @media ($tablet) {
    border-bottom: none;
  }
}

.site-navigation__new,
.site-navigation__sale {
  display: none;

  @media ($desktop) {
    @include text(15px, 24px, 700);
    display: block;
    padding: 17px 0 0 60px;
  }
}

.site-navigation__logo,
.site-navigation__search,
.site-navigation__cart {
  @media ($tablet) {
    width: auto;
    padding: 0;
  }
}

.site-navigation__catalog,
.site-navigation__order {
  @media ($tablet) {
    @include text(15px, 24px, 700);
    margin: 17px 0 0 37px;
    padding: 0;
  }
}

.site-navigation__catalog,
.site-navigation__order,
.site-navigation__search,
.site-navigation__cart {
  @media ($desktop) {
    @include text(17px, 24px, 700);
    margin: 0;
  }
}

.site-navigation__logo {
  padding: 0;

  @media ($tablet) {
    flex-grow: 1;
    width: 45%;
  }

  @media (min-width: 860px) {
    width: 50%;
  }

  @media (min-width: 1000px) {
    width: 55%;
  }

  @media ($desktop) {
    width: auto;
  }
}

.site-navigation__logo-link {
  display: flex;
  margin: 22px auto 22px;

  @media ($tablet) {
    margin: 22px auto 20px 0;
  }

  @media ($desktop) {
    margin: 8px auto 8px 42px;
  }
}

.site-navigation__logo-image {
  //
}

.site-navigation__catalog {
  @media ($tablet) {
    order: 2;
    margin: 17px 0 0 0;
  }

  @media ($desktop) {
    order: -1;
    margin: 0;
    border-right: 1px solid $border-color;
    padding: 32px 34px 32px 0;
  }
}

.site-navigation__order {
  @media ($tablet) {
    order: 2;
  }

  @media ($desktop) {
    flex-grow: 0;
    order: -1;
    padding: 32px 34px;
  }
}

.site-navigation__search {
  @media ($tablet) {
    width: 84px;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    padding: 0;
  }

  @media ($desktop) {
    width: 88px;
  }

  .site-navigation__text {
    @media ($tablet) {
      display: none;
    }
  }

  svg {
    margin-top: -7px;
    left: -45px;

    @media ($tablet) {
      margin-top: -7px;
      left: 32px;
    }

    @media ($desktop) {
      left: 36px;
    }
  }
}

.site-navigation__cart {
  @media ($tablet) {
    padding: 32px 0 32px 83px;
  }

  @media ($desktop) {
    padding: 32px 0 32px 86px;
  }

  svg {
    margin-top: -8px;
    left: -51px;

    @media ($desktop) {
      left: -53px;
    }
  }
}

.site-navigation__new {
  @media ($desktop) {
    padding: 17px 0 0 0;
  }
}

.site-navigation__sale {
  @media ($desktop) {
    flex-grow: 1;
  }
}

.site-navigation__delivery {
  display: none;
  order: 2;

  @media ($tablet) {
    display: block;
    margin-left: auto;
    padding: 17px 0 0 0;
  }

  @media ($desktop) {
    padding: 17px 0 0 0;
  }

  .site-navigation__text {
    @include text(15px, 24px);
    color: $text-color;
  }
}

.site-navigation__link {
  position: relative;

  svg {
    position: absolute;
    top: 50%;
    opacity: 0.2;
  }
}
