.ware {
  position: relative;
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: bottom center;
  background-size: 100%;

  @media ($desktop) {
    width: 1050px;
    padding: 52px 0 0;
  }
}

.ware__container {
  display: flex;
  flex-direction: column;
  padding: 28px 30px 40px 30px;

  @media ($tablet) {
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 0 70px;
  }

  @media ($desktop) {
    padding: 0 350px 95px 45px;
  }
}

.ware__title {
  margin-bottom: 2px;

  @media ($tablet) {
    margin-bottom: 48px;
  }

  @media ($desktop) {
    margin: 0 0 46px 55px;
  }
}

.ware__best-article {
  @include text(17px, 20px, 700);
  display: block;
  margin-bottom: 10px;
  color: $seafoam-blue;
  text-transform: uppercase;

  @media ($tablet) {
    @include text(17px, 17px, 700);
    width: 70px;
    margin: 10px 30px 0 auto;
    text-align: center;
  }

  @media ($desktop) {
    order: -1;
    margin: 15px 0 0;
  }
}

.ware__inner-container {
  @media ($tablet) {
    margin: 0 380px 0 0;
  }

  @media ($desktop) {
    margin: 0 234px 0 130px;
  }
}

.ware__text {
  @include text(15px, 24px);
  margin-bottom: 17px;
  color: $text-color;

  @media ($tablet) {
    @include text(17px, 30px);
    margin: 0 0 35px;
  }

  @media ($desktop) {
    margin: 0 0 50px;
  }
}

.ware__description-table {
  @include text(15px, 20px);
  width: 100%;
  margin-bottom: 30px;
  border-collapse: collapse;
  color: $text-color;

  @media ($tablet) {
    margin: 0 0 58px;
  }

  @media ($desktop) {
    margin: 0 0 110px;
  }
}

.ware__description-row {
  border: 1px solid transparent;
  border-bottom-color: $border-color;
}

.ware__description-col {
  padding: 10px 0;

  &:first-child {
    width: 95px;
    padding-right: 10px;
  }
}

.ware__img-container {
  width: 260px;
  height: 315px;
  margin: 0 auto 22px;
  overflow: hidden;

  @media ($tablet) {
    width: 333px;
    height: 404px;
    position: absolute;
    top: 108px;
    right: 50px;
  }

  @media ($desktop) {
    width: 525px;
    height: 636px;
    top: 0;
    right: 0;
    z-index: -1;
  }
}

.ware__img {
  //
}

.ware__price {
  @include text(17px, 24px, 700);
  display: block;
  margin-bottom: 25px;
  color: $text-color;
  text-align: center;

  @media ($tablet) {
    @include text(20px, 24px, 700);
    align-self: center;
    width: 100%;
    margin: 0 0 33px;
  }

  @media ($desktop) {
    margin: 0 0 33px;
  }
}

.ware__order-button {
  @media ($tablet) {
    width: 100%;
  }

  @media ($desktop) {
    margin: 0;
  }
}
