$seafoam-blue: #63d1bb;
$greeny-blue: #46c1ae;
$aquamarin-blue: #62d1ba;
$text-color: #444444;
$border-color: #ececec;
$footer-color: #f1f1f1;
$image-color: #fafafa;

// Media

$tablet: "min-width: 768px";
$desktop: "min-width: 1150px";
