footer.site-footer
  ul.site-footer__social-list
    li.site-footer__social-item
      a.site-footer__social-link(href="#" title="Мы в Instagram") Мы в Instagram
    li.site-footer__social-item
      a.site-footer__social-link(href="#" title="Мы в Facebook") Мы в Facebook
    li.site-footer__social-item
      a.site-footer__social-link(href="#" title="Мы в Twitter") Мы в Twitter
  div.site-footer__caption.caption Разработано
    =" "
    a.caption__htmlacademy(href="https://htmlacademy.ru/intensive/adaptive" title="HTML Academy") HTML Academy
// Там где атрибут title, все подписи удалятся, пока для удобства
// Все br тоже самое
// Карту и изображения тоже самое, после лекции с автоматизацией удалю
