footer.site-footer
  a.site-footer__logo
    img.site-footer__logo-image(src="img/logo-mobile.svg" width="120" height="40" alt="Логотип компании «MISHKA»")
  ul.site-footer__social-list
    li.site-footer__social-item
      a.site-footer__social-link(href="#" title="Мы в Instagram")
        include ../../img/icon-insta.svg
    li.site-footer__social-item
      a.site-footer__social-link(href="#" title="Мы в Facebook")
        include ../../img/icon-fb.svg
    li.site-footer__social-item
      a.site-footer__social-link(href="#" title="Мы в Twitter")
        include ../../img/icon-twitter.svg
  div.site-footer__caption.caption Разработано
    a.caption__htmlacademy(href="https://htmlacademy.ru/intensive/adaptive" title="HTML Academy")
      include ../../img/logo-htmlacademy.svg

