footer.site-footer
  div.center-wrapper.site-footer__center-wrapper
    div.site-footer__wrapper
      a.site-footer__logo
        include ../../img/logo-footer.svg
      ul.site-footer__social-list
        li.site-footer__social-item
          a.site-footer__social-link(href="#" title="Мы в Instagram")
            include ../../img/icon-insta.svg
        li.site-footer__social-item
          a.site-footer__social-link(href="#" title="Мы в Facebook")
            include ../../img/icon-fb.svg
        li.site-footer__social-item
          a.site-footer__social-link(href="#" title="Мы в Twitter")
            include ../../img/icon-twitter.svg
      div.site-footer__caption.caption Разработано
        a.caption__htmlacademy(href="https://htmlacademy.ru/intensive/adaptive" title="HTML Academy")
          include ../../img/logo-htmlacademy.svg

