footer.site-footer
  div.center-wrapper.site-footer__center-wrapper
    div.site-footer__wrapper
      a.site-footer__logo
        svg(width="101.615" height="34.056")
          use(href="#logo-footer")
      ul.site-footer__social-list
        li.site-footer__social-item
          a.site-footer__social-link(href="#" title="Мы в Instagram")
            svg(width="21.769" height="21.334")
              use(href="#icon-insta")
        li.site-footer__social-item
          a.site-footer__social-link(href="#" title="Мы в Facebook")
            svg(width="14.962" height="27.718")
              use(href="#icon-fb")
        li.site-footer__social-item
          a.site-footer__social-link(href="#" title="Мы в Twitter")
            svg(width="23.494" height="20.168")
              use(href="#icon-twitter")
      div.site-footer__caption.caption Разработано
        a.caption__htmlacademy(href="https://htmlacademy.ru/intensive/adaptive" title="HTML Academy")
          include ../../img/logo-htmlacademy.svg

