footer.site-footer
  a.site-footer__logo
    img.site-footer__logo-image(src="img/logo-mobile.svg" width="120" height="40" alt="Логотип компании «MISHKA»")
  ul.site-footer__social-list
    li.site-footer__social-item
      a.site-footer__social-link(href="#" title="Мы в Instagram")
        include ../svg/icon-insta
    li.site-footer__social-item
      a.site-footer__social-link(href="#" title="Мы в Facebook")
        include ../svg/icon-fb
    li.site-footer__social-item
      a.site-footer__social-link(href="#" title="Мы в Twitter")
        include ../svg/icon-twitter
  div.site-footer__caption.caption Разработано
    a.caption__htmlacademy(href="https://htmlacademy.ru/intensive/adaptive" title="HTML Academy")
      include ../svg/logo-htmlacademy

