nav.site-header__site-navigation.site-navigation
  button.site-navigation__menu-toggle(type="button" title="Открыть меню") Открыть меню
  ul.site-navigation__list
    li.site-navigation__item
      a.site-navigation__link(href="catalog.html") Каталог товаров
    li.site-navigation__item
      a.site-navigation__link(href="form.html") Вязание на заказ
    li.site-navigation__item
      a.site-navigation__link(href="#") Поиск по сайту
    li.site-navigation__item
      a.site-navigation__link(href="#") Корзина: пока пуста
